html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 1600px;
  /* overflow: hidden; */
  display: flex;
  background-color: #f5f5f5;
  /* background-image: url(../img/1770.jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: 0px;
  font-size: 14px;
  font-family: "黑体-简", "黑体", "微软雅黑", Arial, Gotham, "Helvetica Neue",
    Helvetica, sans-serif;
  /* width: 100%; */
  /* background-color: #313131; */
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
  color: none;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
p {
  font: 16px;
  color: #fff;
  text-indent: 2em;
  padding: 10px;
}
#mian {
  /* overflow: hidden; */
  width: 1000px;
  height: 1920px;
  /* display: none; */
  margin: 0 auto;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  background-color: #ffffff; /* rgba(255, 255,255, 0.4) */
}
/* #mian:hover {
  background-color: rgba(243, 243, 243, 0.8);
} */
/* #nav {
  width: 1000px;
  height: 50px;
  margin: 0;
} */
.logo {
  margin: 0;
  width: 200px;
  height: 50px;
}
/* ul{
    width: 1000px;
    height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
}
ul li{
    width: 120px;
    height: 30px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    z-index: 500;
}
ul li ul{
    width: 120px;
    display: none;
    
}
ul li ul li{
    float: none;
    background-color: rgba(255, 255,255, 0.2);
    position: relative;
    left: -20px;
    box-shadow: 2px 2px rgba(0,0,0,0.4);
}
ul a{
    width: 120px;
    height: 30px;
    display: block;
   
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
a:hover{
    
    color: #cd3700;
    
} */
.fa-home {
  font-size: 20px;
}
/* .fa-angle-down:hover{
    animation: all 0.25s ease forwards;
} */
.icon {
  width: 15px;
  height: 15px;
}

#main {
  /* 主体内容 */
  width: 1000px;
  height: 1930px;
  margin-top: 500px;
}
#time {
  /* background-color:red; */
  color: #fff;
  width: 900px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #2e2e2e;
}
#main section {
  width: 1000px;
  height: 1350px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  /* z-index: 0; */
}
/* #banner{
    position: relative;
    width: 1000px;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.ban {
  width: 850px;
  height: 450px;
  position: absolute;
  top: 0;
  z-index: 40;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.ban .active {
  z-index: 50px;
}

.test,
.test-2,
.test-3,
.test-4,
.test-5,
.test-6,
.test-7,
.test-8,
.test-9 {
  z-index: 0;
  width: 300px;
  height: 410px;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  /* margin-left: ; */
  background-color: rgba(255, 255, 255, 0.2);
}
.test-2:hover,
.test-3:hover,
.test:hover,
.test-4:hover,
.test-5:hover,
.test-6:hover,
.test-7:hover,
.test-8:hover,
.test-9:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  animation: img 1s ease-out;
    animation-iteration-count:2;
-webkit-animation-iteration-count:2;
    animation-direction:alternate;
    -webkit-animation-direction:alternate;
}
.tu1,
.tu2,
.tu3,
.tu4,
.tu5,
.tu6,
.tu7,
.tu8,
.tu9 {
  z-index: -50;
  width: 300px;
  height: 310px;
  transform: translateY(-355px) /* translateX(-25px) */;
  position: relative;
}

.itea {
  width: 300px;
  height: 150px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
  transform: translateY(260px);
  overflow: hidden;
  position: relative;
}
.ite {
  width: 300px;
  height: 100px;
  background-color: #eac871;
  z-index: 5;
  transform: rotate(-10deg) translateX(50px) translateY(100px);
}

.itc {
  width: 300px;
  height: 100px;
  z-index: 6;
  background-color: #ffffff;
  transform: rotate(4deg) translate(-10px, 0);
}
.text-1,
.text-3,
.text-2,
.text-4,
.text-5,
.text-6,
.text-7,
.text-8,
.text-9 {
  width: 260px;
  height: 300px;
  margin-top: -640px;
  margin-left: 20px;
  position: absolute;
  padding: 20px;
  /* z-index: 0; */
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  
}
.text-1 p,.text-1 h4,
.text-3 p,.text-2 h4,
.text-2 p,.text-3 h4,
.text-4 p,.text-4 h4,
.text-5 p,.text-5 h4,
.text-6 p,.text-6 h4,
.text-7 p,.text-7 h4,
.text-8 p,.text-8 h4,
.text-9 p,.text-9 h4{
    color: #fff;
}
/* .text-2{
    width: 280px;
    height: 250px;
    margin-top: -750px;
    margin-left: 10px;
    position: absolute; */
/* z-index: 0; */
/* background-color: rgba(255, 255, 255, 0.2); */
/* display: none;
} */
/* .text-3{
    width: 280px;
    height: 250px;
    margin-top: -800px;
    margin-left: 10px;
    position: absolute; */
/* z-index: 0; */
/* background-color: rgba(255, 255, 255, 0.2); */
/* display: none;
} */
/* 文本框标题 */
.test1-title,
.test2-title,
.test3-title {
  width: 220px;
  height: 50px;
  position: relative;
  /* background-color: #000; */
  margin-top: -430px;
  z-index: 2000;
  color: #000;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 55px;
}

.ite2 {
  width: 300px;
  height: 100px;
  background-color: #d0b8d6;
  z-index: 5;
  transform: rotate(-10deg) translateX(50px) translateY(100px);
}
.ite3 {
  width: 300px;
  height: 100px;
  background-color: #b7735d;
  z-index: 5;
  transform: rotate(-10deg) translateX(50px) translateY(100px);
}

.ite4 {
  width: 300px;
  height: 100px;
  background-color: #e8583d;
  z-index: 5;
  transform: rotate(-10deg) translateX(50px) translateY(100px);
}
.ite5 {
  width: 300px;
  height: 100px;
  background-color: #6ab792;
  z-index: 5;
  transform: rotate(-10deg) translateX(50px) translateY(100px);
}
.ite6 {
  width: 300px;
  height: 100px;
  background-color: #f9bb3c;
  z-index: 5;
  transform: rotate(-10deg) translateX(50px) translateY(100px);
}
.ite7 {
  width: 300px;
  height: 100px;
  background-color: #98aab9;
  z-index: 5;
  transform: rotate(-10deg) translateX(50px) translateY(100px);
}
.ite8 {
  width: 300px;
  height: 100px;
  background-color: #bc99c4;
  z-index: 5;
  transform: rotate(-10deg) translateX(50px) translateY(100px);
}

.face {
  width: 50px;
  height: 50px;
  z-index: 50;
  transform: translateX(240px) translateY(340px);
  border: 2px solid #f9bb3c;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.face img {
  width: 40px;
  height: 40px;
  z-index: 50;
  /* transform: translateX(240px) translateY(340px); */
}

#foot/* 页脚区块 */
 {
  width: 1000px;
  height: 120px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  background-color: #5e5e5e;
}
.footer {
  display: block;
  width: 500px;
  height: 100px;
  text-align: center;
  position: absolute;
  margin-bottom: 10px;
  
}
.footer p{
    color: #fff;
}
p,p a {
  text-decoration: none;
  color: #ffffff;
}
.fa-github,
.fa-qq,
.fa-weibo,
.fa-weixin {
  /* 联系图标大小控制 */
  font-size: 15px;
}
.fa-weibo {
  color: #e6162d;
}
.fa-weixin {
  color: #87de46;
}

@media screen and (max-width: 600px) {
  /* 摇动蒲公英 */
  .dandelion {
    display: none !important;
  }
}
.dandelion .smalldan {
  width: 36px;
  height: 60px;
  left: 88px;
  background-position: 0 -90px;
  border: 0px solid red;
}
.dandelion span {
  -webkit-animation: ball-x 3s linear 2s infinite;
  -moz-animation: ball-x 3s linear 2s infinite;
  animation: ball-x 3s linear 2s infinite;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  transform-origin: bottom center;
}
.dandelion span {
  display: block;
  position: fixed;
  z-index: 9999999999;
  bottom: 0px;
  background-image: url(../img/p.png);
  background-repeat: no-repeat;
  _background: none;
}
.dandelion .bigdan {
  width: 64px;
  height: 115px;
  left: 41px;
  background-position: -86px -36px;
  border: 0px solid red;
}
@keyframes ball-x {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes ball-x {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes ball-x {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(5deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}

/* @keyframes all{
        0% {transform : rotate(0deg); }
        100% {transform : rotate(180deg); }
    } */

from {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: auto;
}
#register {
  display: block;
  width: 750px;
  height: 500px;
  position: absolute;
  margin: 0 auto;
  font-family: sans-serif;
}
#title p {
  width: 650px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  background-color: aqua;
}
.text {
  margin-top: 20px;
  width: 750px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.text2 {
  width: 130px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
}
#user,
#key,
#email,
#pass,
#phone {
  width: 400px;
  height: 50px;
  font-size: 25px;
  border: 0;
  padding-left: 10px;
}
/* #key{
        margin-left: 2px;
    } */
.Land {
  position: relative;
  width: 150px;
  height: 40px;
  margin-left: 50px;
}
#span1,
#span2,
#span3,
#span4,
#span5 {
  padding-left: 20px;
  font-size: 18px;
  color: red;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*@keyframes text {*/
/*    0%{transform: translateY(0px)}*/
/*    100%{transform: translateY(900px)}*/
/*}*/
#header {
  width: 1000px;
  height: 400px;
  position: absolute;
  margin: 25px auto 0 auto;
  /* overflow: hidden; */
  /* z-index: 0; */
}
#item {
  width: 900px;
  height: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 10px;
}
#banner {
  width: 1000px;
  height: 500px;
  /* margin-left: auto;
        margin-right: auto; */
  position: relative;
  border-radius: 10px;
}
#item:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
}
.index {
  width: 900px;
  height: 500px;
  position: absolute;
  /* font-size: 35px; */
  opacity: 0;
  transition: all 0.8s;
  border-radius: 10px;
}
#i2 {
  opacity: 1;
}
.but {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: -290px;
  z-index: 100;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;

  /* background-color: rgba(222,224,224,0.9); */
}

.fa-chevron-left,
.fa-chevron-right {
  z-index: 1000;
  padding: 3px;
  margin-top: 200pxpx;
  color: rgba(244, 244, 255, 0.9);
}
.index.go {
  z-index: 100;
  opacity: 1;
}
#goUP {
  left: -15px;
  /* margin-top: 5px; */
}
#goDown {
  position: relative;
  right: -835px;
}
#buttlist {
  width: 300px;
  height: 40px;
  z-index: 10000;
  float: left;
  position: relative;
  margin-top: -50px;
  margin-left: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.6);
  float: left;
  margin-left: 10px;
  cursor: pointer;
}
.li.le {
  background-color: rgba(179, 46, 46, 0.6);
}

/* img:hover{
        transform: scale(1.2)
      } */

#adver{
  width: 30px;
  height: 100px;
  top: 350px;
  /* margin-right: 20%; */
  right: 220px;
  z-index: 600;
  position: relative;
  font-size: 32px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}
#adverleft,#adverright{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
}
.fa-angle-up,.fa-angle-down{
    font-size: 32px;
    display: flex;
  justify-content: center;
  align-items: center;
    
}
#k {
  width: 100%;
  height: 40px;
  background-color: #fff;
}
#web1title {
  width: 1000px;
  height: 45px;
}
.bg.active {
  display: block;
}
.webtu {
  width: 400px;
  height: 300px;
}
.web-tu1 {
  width: 350px;
  height: 300px;
  padding: 0px;
  cursor:pointer 
}
.web-tu1:hover{
  animation: img 1s ease-out;
    animation-iteration-count:2;
-webkit-animation-iteration-count:2;
    animation-direction:alternate;
    -webkit-animation-direction:alternate;
}
.web1text {
  width: 450px;
  height: 200px;
  float: right;
  text-align: left;
  padding: 25px;
}
.webtext {
  width: 900px;
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  padding: 50px;
  padding-bottom: 0;
}
#datu {
  width: 600px;
  height: 400px;
  z-index: 1000;
  margin-top: -700px;
  margin-left: 350px;
  /* background-color: #fff; */
}
#bg {
  width: 600px;
  height: 400px;
  z-index: 1000;
  margin-top: 0px;
  /* margin-top: -700px; */
  margin-left: 750px;
  margin-left: 0px;
  position: relative;
}
